<.header>
  New Category
  <:subtitle>Create a new category for organizing your tasks.</:subtitle>
</.header>

<.category_form changeset={@changeset} action={~p"/categories"} />

<.back navigate={~p"/categories"}>Back to categories</.back> 